#main_notice{
	width:600px;
	margin:auto;
	position:relative;
	display:none;
	padding-bottom:120px;
	margin-top:-50px;
}

#main_notice_send{
	position:absolute;
	width:80px;
	height:30px;
	left:-100px;
	top:50px;
	background-color:gray;
	text-align:center;
	padding-top:7px;
	font-size:14px;
	color:white;
}

#main_notice_send a{
	text-decoration:none;
	color:lime;
}


#send_notice{
	display:none;
	position:fixed;
	top:auto;
	left:auto;
	background-color:gray;
	padding:20px;
	border-radius:20px;
}
